* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monsterrat', sans-serif;
}
body {
    background: #002b50;
    color: #fff;
}
.container {
    width: 90%;
    max-width: 700px;
    margin: 15%;
}
.display {
    width: 100%;
    background: #fff;
    color: #333;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.container h1 {
    font-size: 45px;
    font-weight: 600;
}
.container h1 span {
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}
.display img {
    width: 30px;
    cursor: pointer;
}
.display input {
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    color: #333;
    background: transparent;
}
.container button img {
    width: 24px;
    margin-right: 10px;
}
.container button {
    background: #019f55;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 14px 20px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.container button:hover {
    background: #018847;
}